

/*!* Global styles *!*/
/*html, body, * {*/
/*    box-sizing: border-box;*/
/*    font-family: Helvetica, Arial, sans-serif;*/
/*}*/



/* Input styles */
input {
    padding: 1em;
    margin: 0.5em 0;
    display: block;
}

/* Input group styles */
.input-group {
    width: 60%;
    display: inline-block;
    position: relative;
}

.input-group input {
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group label {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}

.input-group svg {
    position: absolute;
    left: 132%;
    /*left: 151.733px;*/
    bottom: 36%;
    /*bottom: 20.78px;*/
}

/* Multi-input styles */
.multi-input {
    /*margin-top: 20px;*/
    width: 60%;
    display: flex;
    gap: 10px;
}

