
.input-group {
    width: 60%;
    display: inline-block;
    position: relative;
}

.input-group input {
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group svg {
    position: absolute;
    left: 135%;
    bottom: 7%;
}

